@font-face{
    font-family: 'Eutemia';
    src: url('../fonts/Eutemia.ttf');
}

@font-face{
    font-family: 'Precious';
    src: url('../fonts/Precious.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
}